body {
    font-family: "Lucida Grande";
    text-align: center;
    box-sizing: border-box;
    background: rgb(205,167,217);
    background: linear-gradient(90deg, rgba(205,167,217,1) 16%, rgba(194,245,255,1) 100%);
  }

#grid {
    width: 580px;
    height: 580px;
    border: 6px solid rgba(112, 179, 194, 0.447);
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    display: flex; 
    align-items: center;
}


/* EASY */
#grid div.easy {
    width: 56px;
    height: 56px;
    border: 1px solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}

/* INT */
#grid div {
    width: 34.1px;
    height: 33.5px;
    border: 1px solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}


/* HARD */
#grid div.hard {
    width: 25.5px;
    height: 25.5px;
    border: 1px solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}

div#grid div.bomb {
    transition: 2s;
    color: black;
    background-color: rgb(225, 54, 54);
    font-size: small;
}

div#grid div.win {
    transition: 2s;
    color: black;
    background-color: rgb(211, 223, 48);
    font-size: small;
}

div#grid div.flag {
    transition: 0s;
    background-color: green;
}

div#grid div._0 {
    background-color: rgb(235, 235, 235);

}

div#grid div._1 {
    background-color: rgb(178, 216, 246);

}

div#grid div._2 {
    background-color: rgb(160, 201, 135);

}

div#grid div._3 {
    background-color: rgb(230, 171, 171);

}

div#grid div._4 {
    background-color: rgb(98, 142, 225);

}

div#grid div._5 {
    background-color: rgb(185, 58, 58);
}

div#grid div._6 {
    background-color: rgb(185, 58, 58);
}



div#grid.disable {
    pointer-events: none;
}

button.hidden {
    visibility: hidden;
}


div.button-container {
    text-align: center;
}

button.difficulty {
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: left;
    height: 30px;
    width: 90px;
}



