body {
    font-family: "Lucida Grande";
    text-align: center;
    box-sizing: border-box;
    background: rgb(205,167,217);
    background: linear-gradient(90deg, rgba(205,167,217,1) 16%, rgba(194,245,255,1) 100%);
  }


  h1 { 
    font-size: 30px;
  }

#container {
    align-items: center;
    justify-content: center;
    display: flex;
}

#grid {
    max-width: 36.25rem;
    /* max-width: 70%; */
    /* max-height: 36.25rem; */
    /* max-height: 70%; */
    border: 0.375rem solid rgba(112, 179, 194, 0.447);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    display: flex; 
    align-items: center;
}


/* EASY */
#grid div.easy {
    /* width: 56px;  */
    /* height: 56px; */
    width: 3.5rem;
    height: 3.5rem;
    border: 0.063rem solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}



/* INT */
#grid div.medium {
    width: 2.131rem;
    height: 2.094rem;
    border: 0.063rem solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}


/* HARD */
#grid div.hard {
    width: 1.594rem;
    height: 1.594rem;   
    border: 0.063rem  solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}

@media (max-width: 606px) {
    #grid div.easy {
        width: 55px;
        height: 56px;
        border: 0.055rem solid rgb(148, 38, 38);
        background-color: rgb(167, 167, 181);
        justify-content: center;
    }
}

div#grid div.bomb {
    transition: 2s;
    color: black;
    background-color: rgb(225, 54, 54);
    font-size: small;
}

div#grid div.win {
    transition: 2s;
    color: black;
    background-color: rgb(211, 223, 48);
    font-size: small;
}



div#grid div.flag {
    transition: 0s;
    background-color: green;
}

div#grid div._0 {
    background-color: rgb(235, 235, 235);

}

div#grid div._1 {
    background-color: rgb(178, 216, 246);

}

div#grid div._2 {
    background-color: rgb(160, 201, 135);

}

div#grid div._3 {
    background-color: rgb(230, 171, 171);

}

div#grid div._4 {
    background-color: rgb(98, 142, 225);

}

div#grid div._5 {
    background-color: rgb(185, 58, 58);
}

div#grid div._6 {
    background-color: rgb(183, 108, 226);
}



div#grid.disable {
    pointer-events: none;
}

button.hidden {
    visibility: hidden;
}


div.button-container {
    text-align: center;
    margin: 10px 0px 
}

/* button.difficulty {
    margin-top: 0.625rem;
    display: inline-flex;
    justify-content: center;
    text-align: center;
    align-items: left;
    height: 1.875rem;
    width: 5.625rem;
} */



