body {
    font-family: "Arial";
    text-align: center;
    box-sizing: border-box;
    background: rgb(205, 167, 217);
    background: linear-gradient(90deg, rgba(205, 167, 217, 1) 16%, rgba(194, 245, 255, 1) 100%);
}

h1 {
    font-size: 40px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

h3 {
    margin: 15px 0px 10px;
    font-size: 30px;
}

#container {
    align-items: center;
    justify-content: center;
    display: flex;
}

#grid {
    max-width: 36.3rem;
    border: 0.375rem solid rgba(112, 179, 194, 0.447);
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    display: flex;
    align-items: center;
}



#grid div.easy {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.063rem solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}

#grid div.medium {
    width: 2.131rem;
    height: 2.094rem;
    border: 0.063rem solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}

#grid div.hard {
    width: 1.87rem;
    height: 1.87rem;
    border: 0.063rem solid white;
    background-color: rgb(167, 167, 181);
    justify-content: center;
}

div#grid div.bomb {
    transition: 2s;
    color: black;
    background-color: rgb(225, 54, 54);
    font-size: small;
}

div#grid div.win {
    transition: 2s;
    color: black;
    background-color: rgb(211, 223, 48);
    font-size: small;
}

div#grid div.flag {
    transition: 0s;
    background-color: green;
}

div#grid div._0 {
    background-color: rgb(235, 235, 235);

}

div#grid div._1 {
    background-color: rgb(178, 216, 246);

}

div#grid div._2 {
    background-color: rgb(160, 201, 135);

}

div#grid div._3 {
    background-color: rgb(230, 171, 171);

}

div#grid div._4 {
    background-color: rgb(98, 142, 225);

}

div#grid div._5 {
    background-color: rgb(185, 58, 58);
}

div#grid div._6 {
    background-color: rgb(183, 108, 226);
}

div#grid.disable {
    pointer-events: none;
}

button.hidden {
    visibility: hidden;
}

div.button-cont {
    text-align: center;
    margin: 10px 0px
}

#win {
    color: green;
}

.hide {
    display: none;
}

#lose {
    color: red;
}

@media screen and (max-width: 768px) {
    #grid {
        max-width: 24rem;
        border: 0.375rem solid rgba(112, 179, 194, 0.447);
    }
    h1 {
        font-size: 25px;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }
    
    h3 {
        margin: 10px 0px 7px;
        font-size: 20px;
    }
    #grid div.easy {
        width: 2.26rem;
        height: 2.26rem;
        border: 0.063rem solid white;
    }
    #grid div.medium {
        width: 1.36rem;
        height: 1.36rem;
        border: 0.063rem solid white;
    }
    
    #grid div.hard {
        width: 1.85rem;
        height: 1.78rem;
        border: 0.063rem solid white;
    }
  }